@{
    ViewBag.Title = "Timesheet";
}

<h2>Timesheet 2013-01-07</h2>

<table class="table">
    <thead>
        <tr>
            <th class="visible-desktop">Projecto</th>
            <th class="visible-desktop">Tarefa</th>
            <th>Seg 7</th>
            <th>Ter 8</th>
            <th>Qua 9</th>
            <th>Qui 10</th>
            <th>Sex 11</th>
        </tr>
    </thead>
    <tbody>
        <tr class="hidden-desktop">
            <td colspan="7">BIC-AML - Manutenção Aplicacional</td>
        </tr>
        <tr>
            <td class="visible-desktop">BIC-AML</td>
            <td class="visible-desktop">Manutenção Aplicacional</td>
            <td><input type="text" class="span1"/></td>
            <td><input type="text" class="span1"/></td>
            <td><input type="text" class="span1"/></td>
            <td><input type="text" class="span1"/></td>
            <td><input type="text" class="span1"/></td>
        </tr>
        <tr class="hidden-desktop">
            <td colspan="7">COLLAB-OUT - Análise e Desenvolvimento Aplicacional</td>
        </tr>
        <tr>
            <td class="visible-desktop">BIC-AML</td>
            <td class="visible-desktop">Manutenção Aplicacional</td>
            <td><input type="text" class="span1"/></td>
            <td><input type="text" class="span1"/></td>
            <td><input type="text" class="span1"/></td>
            <td><input type="text" class="span1"/></td>
            <td><input type="text" class="span1"/></td>
        </tr>
        <tr class="hidden-desktop">
            <td colspan="7">Interno - Formação</td>
        </tr>
        <tr>
            <td class="visible-desktop">BIC-AML</td>
            <td class="visible-desktop">Manutenção Aplicacional</td>
            <td><input type="text" class="span1"/></td>
            <td><input type="text" class="span1"/></td>
            <td><input type="text" class="span1"/></td>
            <td><input type="text" class="span1"/></td>
            <td><input type="text" class="span1"/></td>
        </tr>
        <tr class="hidden-desktop">
            <td colspan="7">Interno - Feriado</td>
        </tr>
        <tr>
            <td class="visible-desktop">BIC-AML</td>
            <td class="visible-desktop">Manutenção Aplicacional</td>
            <td><input type="text" class="span1"/></td>
            <td><input type="text" class="span1"/></td>
            <td><input type="text" class="span1"/></td>
            <td><input type="text" class="span1"/></td>
            <td><input type="text" class="span1"/></td>
        </tr>
        <tr class="hidden-desktop">
            <td colspan="7">Interno - Ausência</td>
        </tr>
        <tr>
            <td class="visible-desktop">BIC-AML</td>
            <td class="visible-desktop">Manutenção Aplicacional</td>
            <td><input type="text" class="span1"/></td>
            <td><input type="text" class="span1"/></td>
            <td><input type="text" class="span1"/></td>
            <td><input type="text" class="span1"/></td>
            <td><input type="text" class="span1"/></td>
        </tr>
    </tbody>
    <tfoot>
        <tr class="hidden-desktop">
            <td colspan="7"><strong>Total</strong></td>
        </tr>
        <tr>
            <td colspan="2" class="visible-desktop">Total</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="7">
                <label>Comentários:</label>
                <textarea></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="7">
                <button class="btn btn-primary">Actualizar</button>
                <button class="btn">Limpar</button>
            </td>
        </tr>
    </tfoot>
</table>
